<div class="client">
  <%= image_tag("clients/hollaback-main.png") %>
  <div class="info">
    <h2>Hollaback!</h2>
    <div class="blurb">
      <a href="http://ihollaback.org">Hollaback</a> is a non-profit and activist movement working to stop street harassment, or harassment directed towards women and LGBTQ people. We created Hollaback’s mobile apps and site infrastructure, supporting activists in over 50 different cities around the world. Our work included research, graphic design, interaction design, and development, and has been featured in the <a href="http://www.nytimes.com/2010/11/08/nyregion/08hollaback.html"><em>New York Times</em></a> and numerous academic publications.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/hollaback-vignette1.png") %>
        <div class="blurb">
          We developed and maintain iPhone and Android apps for the organization.
        </div>
      </div>
      <div>
        <%= image_tag("clients/hollaback-vignette2.png") %>
        <div class="blurb">
          We made extensive use of the Wordpress Multisite framework and contributed patches to the project.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/tcc-main.png") %>
  <div class="info">
    <h2>The Carter Center</h2>
    <div class="blurb">
      <a href="http://cartercenter.org">The Carter Center</a> collects a tremendous amount of data during its election observation missions. We created ELMO, a web- and mobile-based system that allows observers to submit data using smartphones or tablets. Staff members at mission headquarters can then review the data and draw conclusions about the election. This technology places The Carter Center <a href="http://blog.cartercenter.org/2012/08/06/carter-center-on-leading-edge-of-technology-use-in-election-observation/">at the leading edge</a> of technology use in election observation.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/tcc-vignette1.png") %>
        <div class="blurb">
          ELMO supports location editing and mapping. GPS data is collected in the field with mobile devices.
        </div>
      </div>
      <div>
        <%= image_tag("clients/tcc-vignette2.png") %>
        <div class="blurb">
          The system also includes an integrated custom reporting engine.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/kcca-main.png") %>
  <div class="info">
    <h2>Kelli's Childcare Collective</h2>
    <div class="blurb">
      <a href="http://kccatl.com">KCCA's</a> mission is to provide free <a href="http://www.utne.com/Politics/Radical-Childcare-Collectives-Social-Justice.aspx">radical childcare</a> to social justice organizations, ensuring that parents have a voice in such movements. We developed a process management system (the 'KCCA Robot') for the group. The system automates the entire event planning process, including requests for childcare from partner groups, requests for event coordinators and volunteers, and event reminders.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/kcca-vignette1.png") %>
        <div class="blurb">
          The KCCA Robot sends automated SMS notifications and requests to volunteers.
        </div>
      </div>
      <div>
        <%= image_tag("clients/kcca-vignette2.png") %>
        <div class="blurb">
          The system also tracks group activity and generates reports.
        </div>
      </div>
    </div>
  </div>
</div>

<br clear="all" /><br/>