<div class="client">
  <%= image_tag("clients/tcc-main.png") %>
  <div class="info">
    <h2>ELMO - The Carter Center</h2>
    <div class="blurb">
      <a href="http://cartercenter.org">The Carter Center</a> collects a tremendous amount of data during its <a href="http://www.cartercenter.org/news/multimedia/PeacePrograms/MakingitHappen-ElectionObservation.html">election observation missions</a>. We created ELMO, a web- and mobile-based system that allows observers to submit data using smartphones or tablets. Staff members at mission headquarters can then review the data and draw conclusions about the election. This technology places The Carter Center <a href="http://blog.cartercenter.org/2012/08/06/carter-center-on-leading-edge-of-technology-use-in-election-observation/">at the leading edge</a> of technology use in election observation.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/tcc-vignette1.png") %>
        <div class="blurb">
          ELMO supports location editing and mapping. GPS data is collected in the field with mobile devices.
        </div>
      </div>
      <div>
        <%= image_tag("clients/tcc-vignette2.png") %>
        <div class="blurb">
          The system also includes an integrated custom reporting engine.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/hollaback-main.png") %>
  <div class="info">
    <h2>Mobile App and Web Infrastructure - Hollaback!</h2>
    <div class="blurb">
      <a href="http://ihollaback.org">Hollaback</a> is a non-profit and activist movement working to stop street harassment, or harassment directed towards women and LGBTQ people. We created Hollaback’s mobile apps and site infrastructure, supporting activists in over 50 different cities around the world. Our work included research, graphic design, interaction design, and development, and has been featured in the <a href="http://www.nytimes.com/2010/11/08/nyregion/08hollaback.html"><em>New York Times</em></a> and numerous academic publications.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/hollaback-vignette1.png") %>
        <div class="blurb">
          We developed and maintain iPhone and Android apps for the organization.
        </div>
      </div>
      <div>
        <%= image_tag("clients/hollaback-vignette2.png") %>
        <div class="blurb">
          We made extensive use of the Wordpress Multisite framework and developed custom plugins.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/workingworld-main.png")%>
  <div class="info">
    <h2>Madeline System - The Working World</h2>
    <div class="blurb">
      <a href="http://www.theworkingworld.org">The Working World</a> (TWW) finances worker cooperatives, businesses that are owned and run by their workers, through a groundbreaking non-extractive method of finance. TWW has coined a <a href="http://www.theworkingworld.org/us/what-we-do/workplace-democracy/">development strategy that creates quality, lasting jobs anchored in disadvantaged communities</a> in the U.S. and Latin America, without ever creating debt in the neighborhoods they serve. Sassafras is designing and developing the Madeline system, a web application that will be used to manage and track these projects. TWW is also developing a peer network of 22 organizations around the country that are replicating their innovative model. These peer organizations will use the Madeline system as well. Eventually, the Madeline system will support a public-facing crowdfunding platform for worker co-ops everywhere.
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/columbia-main.png")%>
  <div class="info">
    <h2>Diabetes Detective - Columbia University</h2>
    <div class="blurb">
      We are working with researchers at Columbia University to build a web and mobile application to help people in low income communities manage their diabetes. We applied our expertise in interaction design, graphic design, and development. The system is currently undergoing a full clinical trial.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/columbia-vignette1.png") %>
        <div class="blurb">
          We developed a Rails app that collects blood sugar levels and helps people set goals.
        </div>
      </div>
      <div>
        <%= image_tag("clients/columbia-vignette2.png") %>
        <div class="blurb">
          The system includes a mobile component that sends reminders and collects blood sugar levels through SMS and voice.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>


<div class="client">
  <%= image_tag("")%>
  <div class="info">
    <h2>Mealyzer - Columbia University</h2>
    <div class="blurb">
      Mealyzer allows users to photograph their meals and receive near-real-time feedback on the meals' nutritional content. Users estimate the nutrients contained in the meal and receive an expert analysis minutes later. Studies have shown this feedback improves nutritional estimation ability, which is important for healthy eating. The system comprises a multi-platform mobile app and a Rails backend web app and API.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("") %>
        <div class="blurb">
          Mealyzer features a diabetes module that integrates with a cutting edge blood sugar estimation model.
        </div>
      </div>
      <div>
        <%= image_tag("") %>
        <div class="blurb">
          We use Ionic/Cordova to support Android and iOS with a single codebase, reducing deveopment cost.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/eos-main.png")%>
  <div class="info">
    <h2>EOS - The Carter Center</h2>
    <div class="blurb">
      We worked with the Carter Center to overhaul their web database of election obligations and standards (<a href="http://eos.cartercenter.org/">EOS</a>). We used our expertise in information architecture and modeling to clarify the underlying data structure. As a result, our design makes it simple to search and filter for authoritative sources in election law. We implemented the web application using Rails.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/eos-vignette1.png") %>
        <div class="blurb">
          Our expertise in information architecture &amp; data modeling resulted in an easy to use search and filtering interface.
        </div>
      </div>
      <div>
        <%= image_tag("clients/eos-vignette2.png") %>
        <div class="blurb">
          The system includes a citation system to easily include sources in bibliographies and reports.
        </div>
      </div>
    </div>
  </div>
</div>


<%= divider %>

<div class="client">
  <%= image_tag("clients/realrisks-main.png")%>
  <div class="info">
    <h2>RealRisks - Columbia University</h2>
    <div class="blurb">
      Partnering with researchers at Columbia University, we applied our expertise in design research (participatory design and usability testing) to develop a culturally sensitive breast cancer decision aid targeted at women in northern Manhattan in New York City. Currently being developed, the decision aid allows women to determine their risk, understand what risk means, and develop an action plan to be used to jointly make decisions with their doctor. <a href="http://designaction.org">Design Action Collective</a> developed the illustrations for this project.
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/aggie-main.png")%>
  <div class="info">
    <h2>Aggie - Georgia Tech</h2>
    <div class="blurb">
      The result of a collaboration with the Technologies and International Development Lab at Georgia Tech, Aggie is a web application for tracking events in real-time via social media. It retrieves data from Twitter, Facebook, RSS feeds, and ELMO instances and supports a team of operators in triaging, organizing, and monitoring incidents revealed by the data. Aggie is built using Node.js and AngularJS.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/aggie-vignette1.png") %>
        <div class="blurb">
         Aggie's multi-process architecture allows it to scale to a rate of dozens of reports per second.
        </div>
      </div>
      <div>
        <%= image_tag("clients/aggie-vignette2.png") %>
        <div class="blurb">
          Aggie has been used in many countries to observe national elections via social media.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>


<div class="client">
  <%= image_tag("clients/diaedu-main.png")%>
  <div class="info">
    <h2>Diabetes Educator Community - Columbia University</h2>
    <div class="blurb">
      We are working with the same team at Columbia University to develop an online community for diabetes educators across the U.S. The site features a structured knowledge base that allows educators to explore common glycemic problems, triggers, barriers, and goals. These knowledge base articles are tightly integrated with the site's in-built discussion forum.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/diaedu-vignette1.png") %>
        <div class="blurb">
          We use the <a href="http://emberjs.com">Ember.js</a> framework in this project, which makes for fast load times and interactivity.
        </div>
      </div>
      <div>
        <%= image_tag("clients/diaedu-vignette2.png") %>
        <div class="blurb">
          The site is being built as a custom plugin for the new and popular <em><a href="http://www.discourse.org">Discourse</a></em> discussion forum platform.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>


<div class="client">
  <%= image_tag("")%>
  <div class="info">
    <h2>MESS - Ann Arbor Cohousing</h2>
    <div class="blurb">
      MESS is a system for managing community meals in cohousing. At the three Ann Arbor cohousing communities that use MESS, community meals are held as much as 5 times per week. MESS allows community members to sign up, provides a cost breakdown for cooks, sends notices of upcoming meals, and manages member account statements and payments. Such a vibrant community meals program would likely not be possible without MESS.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("") %>
        <div class="blurb">
          Residents browse menus for upcoming meals.
        </div>
      </div>
      <div>
        <%= image_tag("") %>
        <div class="blurb">
          Cooks plan their grocery purchase based on a detailed signup summary.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<br clear="all" /><br/>
