
<div class="client">
  <%= image_tag("clients/columbia-main.png")%>
  <div class="info">
    <h2>Columbia University Biomedical Informatics</h2>
    <div class="blurb">
      We worked with researchers at Columbia University to build a web and mobile application to help people in low income communities manage their diabetes. We applied our expertise in interaction design, graphic design, and development.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/columbia-vignette1.png") %>
        <div class="blurb">
          We developed a Rails app that collects blood sugar levels and helps people set goals.
        </div>
      </div>
      <div>
        <%= image_tag("clients/columbia-vignette2.png") %>
        <div class="blurb">
          The system includes a mobile component that sends reminders and collects blood sugar levels through SMS and voice. 
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/hollaback-main.png") %>
  <div class="info">
    <h2>Hollaback!</h2>
    <div class="blurb">
      <a href="http://ihollaback.org">Hollaback</a> is a non-profit and activist movement working to stop street harassment, or harassment directed towards women and LGBTQ people. We created Hollaback’s mobile apps and site infrastructure, supporting activists in over 50 different cities around the world. Our work included research, graphic design, interaction design, and development, and has been featured in the <a href="http://www.nytimes.com/2010/11/08/nyregion/08hollaback.html"><em>New York Times</em></a> and numerous academic publications.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/hollaback-vignette1.png") %>
        <div class="blurb">
          We developed and maintain iPhone and Android apps for the organization.
        </div>
      </div>
      <div>
        <%= image_tag("clients/hollaback-vignette2.png") %>
        <div class="blurb">
          We made extensive use of the Wordpress Multisite framework and developed custom plugins.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/tcc-main.png") %>
  <div class="info">
    <h2>The Carter Center</h2>
    <div class="blurb">
      <a href="http://cartercenter.org">The Carter Center</a> collects a tremendous amount of data during its election observation missions. We created ELMO, a web- and mobile-based system that allows observers to submit data using smartphones or tablets. Staff members at mission headquarters can then review the data and draw conclusions about the election. This technology places The Carter Center <a href="http://blog.cartercenter.org/2012/08/06/carter-center-on-leading-edge-of-technology-use-in-election-observation/">at the leading edge</a> of technology use in election observation.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/tcc-vignette1.png") %>
        <div class="blurb">
          ELMO supports location editing and mapping. GPS data is collected in the field with mobile devices.
        </div>
      </div>
      <div>
        <%= image_tag("clients/tcc-vignette2.png") %>
        <div class="blurb">
          The system also includes an integrated custom reporting engine.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<br clear="all" /><br/>