<div class="client">
  <%= image_tag("clients/mess-main.png")%>
  <div class="info">
    <h2><%= t("projects.mess.title") %></h2>
    <div class="blurb"><%= t("projects.mess.description") %></div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/mess-vignette1.png") %>
        <div class="blurb"><%= t("projects.mess.vignette1") %></div>
      </div>
      <div>
        <%= image_tag("clients/mess-vignette2.png") %>
        <div class="blurb"><%= t("projects.mess.vignette2") %></div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/tcc-main.png") %>
  <div class="info">
    <h2><%= t("projects.elmo.title") %></h2>
    <div class="blurb"><%= t("projects.elmo.description").html_safe %></div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/tcc-vignette1.png") %>
        <div class="blurb"><%= t("projects.elmo.vignette1") %></div>
      </div>
      <div>
        <%= image_tag("clients/tcc-vignette2.png") %>
        <div class="blurb"><%= t("projects.elmo.vignette2") %></div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/eos-main.png")%>
  <div class="info">
    <h2><%= t("projects.eos.title").html_safe %></h2>
    <div class="blurb">
      <%= t("projects.eos.description").html_safe %>
      <a href="http://eos.cartercenter.org/" title="EOS" target="_blank">
        <i class="fa fa-external-link"></i>
      </a>
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/eos-vignette1.png") %>
        <div class="blurb"><%= t("projects.eos.vignette1") %></div>
      </div>
      <div>
        <%= image_tag("clients/eos-vignette2.png") %>
        <div class="blurb"><%= t("projects.eos.vignette2") %></div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/columbia-main.png")%>
  <div class="info">
    <h2><%= t("projects.diabetes_detective.title") %></h2>
    <div class="blurb">
      <%= t("projects.diabetes_detective.description") %>
      <a href="https://diabetesdetective.com/" title="DiabetesDetective" target="_blank">
        <i class="fa fa-external-link"></i>
      </a>
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/columbia-vignette1.png") %>
        <div class="blurb"><%= t("projects.diabetes_detective.vignette1") %></div>
      </div>
      <div>
        <%= image_tag("clients/columbia-vignette2.png") %>
        <div class="blurb"><%= t("projects.diabetes_detective.vignette2") %></div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/diaedu-main.png")%>
  <div class="info">
    <h2><%= t("projects.diabetes_educator.title") %></h2>
    <div class="blurb"><%= t("projects.diabetes_educator.description") %></div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/diaedu-vignette1.png") %>
        <div class="blurb"><%= t("projects.diabetes_educator.vignette1").html_safe %></div>
      </div>
      <div>
        <%= image_tag("clients/diaedu-vignette2.png") %>
        <div class="blurb"><%= t("projects.diabetes_educator.vignette2").html_safe %></div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/mealyzer-main.png")%>
  <div class="info">
    <h2><%= t("projects.mealyzer.title") %></h2>
    <div class="blurb">
      <%= t("projects.mealyzer.description") %>
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/mealyzer-vignette1.png") %>
        <div class="blurb"><%= t("projects.mealyzer.vignette1") %></div>
      </div>
      <div>
        <%= image_tag("clients/mealyzer-vignette2.gif") %>
        <div class="blurb"><%= t("projects.mealyzer.vignette2") %></div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/realrisks-main.png")%>
  <div class="info">
    <h2><%= t("projects.realrisks.title") %></h2>
    <div class="blurb">
      <%= t("projects.realrisks.description").html_safe %>
      <a href="https://realrisks.dbmi.columbia.edu/" title="RealRisks" target="_blank">
        <i class="fa fa-external-link"></i>
      </a>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/rcredits-main.png")%>
  <div class="info">
    <h2><%= t("projects.rcredits.title") %></h2>
    <div class="blurb"><%= t("projects.rcredits.description") %></div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/aggie-main.png")%>
  <div class="info">
    <h2><%= t("projects.aggie.title") %></h2>
    <div class="blurb"><%= t("projects.aggie.description") %></div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/aggie-vignette1.png") %>
        <div class="blurb"><%= t("projects.aggie.vignette1") %></div>
      </div>
      <div>
        <%= image_tag("clients/aggie-vignette2.png") %>
        <div class="blurb"><%= t("projects.aggie.vignette2") %></div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/hollaback-main.png") %>
  <div class="info">
    <h2><%= t("projects.hollaback.title") %></h2>
    <div class="blurb">
      <%= t("projects.hollaback.description").html_safe %>
      <a href="http://ihollaback.org" title="Hollaback!" target="_blank">
        <i class="fa fa-external-link"></i>
      </a>
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/hollaback-vignette1.png") %>
        <div class="blurb"><%= t("projects.hollaback.vignette1") %></div>
      </div>
      <div>
        <%= image_tag("clients/hollaback-vignette2.png") %>
        <div class="blurb"><%= t("projects.hollaback.vignette2") %></div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/heartmob-main.png") %>
  <div class="info">
    <h2><%= t("projects.heartmob.title") %></h2>
    <div class="blurb">
      <%= t("projects.heartmob.description").html_safe %>
      <a href="http://iheartmob.org" title="Heartmob" target="_blank">
        <i class="fa fa-external-link"></i>
      </a>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/workingworld-main.png")%>
  <div class="info">
    <h2><%= t("projects.madeline.title") %></h2>
    <div class="blurb"><%= t("projects.madeline.description").html_safe %></div>
  </div>
</div>

<br clear="all" /><br/>
