
	<div class="clientBox">
		<div class="clientImageBox">
			<%= image_tag "hollaback.png", :border=>1 %>
		</div>
		<div class="clientTextBox">
				<h2>Hollaback!</h2>
			<p>We designed and developed Hollaback’s 
			mobile apps and  site infrastructure
			that supports activists in over 50
			different cities around the world. We conducted research, graphic design, interaction design, and implementation. Hollaback is a non-profit and activist movement working to stop street harassment, or harassment directed towards women and LGBTQ people. Our work was featured in the New York Times and in numerous academic publications.</p>
		<div class="clientIconBox"><%= image_tag "icon.png", :border=>1 %></div>
		<div class="clientIconText">iPhone and Android Apps</div>
		
		<div class="clientIconBox"><%= image_tag "wordpress.png",:border=>1 %></div>
		<div class="clientIconText">Multisite Wordpress</div>
	</div></div>
	
	
	<div class="clientBox">
		<div class="clientImageBox">
		<%= image_tag "cartercenter.png", :border=>1, :height=>"150px", :width=>"300px" %>
		</div>
		<div class="clientTextBox">
		<h2>The Carter Center</h2>
		<p>We designed and developed Hollaback’s 
		mobile apps and  site infrastructure
		that supports activists in over 50
		different cities around the world. Hollaback is a non-profit and activist
		movement working to stop street
		harassment.</p>
		</div>
		<div class="clientImageBox"><%= image_tag "icon.png", :border=>1 %>
			iPhone and <br/>Android Apps
		</div>
	</div>
	
	<div class ="clientBox">
		
		<div class="clientTextBox">
			<h2>Kelli's Childcare Collective</h2>
		</div>