<div class="client">
  <%= image_tag("clients/tcc-main.png") %>
  <div class="info">
    <h2>The Carter Center</h2>
    <div class="blurb">
      <a href="http://cartercenter.org">The Carter Center</a> collects a tremendous amount of data during its <a href="http://www.cartercenter.org/news/multimedia/PeacePrograms/MakingitHappen-ElectionObservation.html">election observation missions</a>. We created ELMO, a web- and mobile-based system that allows observers to submit data using smartphones or tablets. Staff members at mission headquarters can then review the data and draw conclusions about the election. This technology places The Carter Center <a href="http://blog.cartercenter.org/2012/08/06/carter-center-on-leading-edge-of-technology-use-in-election-observation/">at the leading edge</a> of technology use in election observation.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/tcc-vignette1.png") %>
        <div class="blurb">
          ELMO supports location editing and mapping. GPS data is collected in the field with mobile devices.
        </div>
      </div>
      <div>
        <%= image_tag("clients/tcc-vignette2.png") %>
        <div class="blurb">
          The system also includes an integrated custom reporting engine.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/columbia-main.png")%>
  <div class="info">
    <h2>Columbia University Biomedical Informatics</h2>
    <div class="blurb">
      We are working with researchers at Columbia University to build a web and mobile application to help people in low income communities manage their diabetes. We applied our expertise in interaction design, graphic design, and development. The system is currently undergoing a full clinical trial.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/columbia-vignette1.png") %>
        <div class="blurb">
          We developed a Rails app that collects blood sugar levels and helps people set goals.
        </div>
      </div>
      <div>
        <%= image_tag("clients/columbia-vignette2.png") %>
        <div class="blurb">
          The system includes a mobile component that sends reminders and collects blood sugar levels through SMS and voice.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/diaedu-main.png")%>
  <div class="info">
    <h2>Diabetes Educator Community</h2>
    <div class="blurb">
      We are working with the same team at Columbia University to develop an online community for diabetes educators across the U.S. The site features a structured knowledge base that allows educators to explore common glycemic problems, triggers, barriers, and goals. These knowledge base articles are tightly integrated with the site's in-built discussion forum.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/diaedu-vignette1.png") %>
        <div class="blurb">
          We use the <a href="http://emberjs.com">Ember.js</a> framework in this project, which makes for fast load times and interactivity.
        </div>
      </div>
      <div>
        <%= image_tag("clients/diaedu-vignette2.png") %>
        <div class="blurb">
          The site is being built as a custom plugin for the new and popular <em><a href="http://www.discourse.org">Discourse</a></em> discussion forum platform.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<div class="client">
  <%= image_tag("clients/hollaback-main.png") %>
  <div class="info">
    <h2>Hollaback!</h2>
    <div class="blurb">
      <a href="http://ihollaback.org">Hollaback</a> is a non-profit and activist movement working to stop street harassment, or harassment directed towards women and LGBTQ people. We created Hollaback’s mobile apps and site infrastructure, supporting activists in over 50 different cities around the world. Our work included research, graphic design, interaction design, and development, and has been featured in the <a href="http://www.nytimes.com/2010/11/08/nyregion/08hollaback.html"><em>New York Times</em></a> and numerous academic publications.
    </div>
    <div class="vignettes">
      <div>
        <%= image_tag("clients/hollaback-vignette1.png") %>
        <div class="blurb">
          We developed and maintain iPhone and Android apps for the organization.
        </div>
      </div>
      <div>
        <%= image_tag("clients/hollaback-vignette2.png") %>
        <div class="blurb">
          We made extensive use of the Wordpress Multisite framework and developed custom plugins.
        </div>
      </div>
    </div>
  </div>
</div>

<%= divider %>

<br clear="all" /><br/>