
<div class="contactBackground">
<div class="contactLeft">
	<h1>Get In Touch.</h1>
	<p>For inquiries, fill out our form <br/> or email us at: <a href="mailto:">info@sassafrastech.com</a></p>
	</div>
<div class="contactRight">
	<%= form_tag("/send", :method => "get") do %>
	  <%= label_tag(:name, "Name:") %>
	  <br/> 
	  <%= text_field_tag(:name, '') %>
	  <br/>
	  <%= label_tag(:email, "Email:") %>
	<br/>
	  <%= text_field_tag(:email,'') %>
	  <br/>
	  <%= label_tag(:message, "Message:") %>
	<br/>
	  <%= text_area_tag(:message, '', :size => "40x15") %>
	  <br/>
	  <%= submit_tag("Send Message") %>
	<% end %>
</div>
</div>
	
	<footer class="footer">t@</footer>
	