<div class="personContainer">
  <%= image_tag "jill.jpg" %>
  <h2>Jill Dimond</h2>
  <h3>Worker/Owner</h3>
  <div class="social">
    <a href="https://twitter.com/jpdimond"><span class="fa fa-twitter-square"></span></a>
    <a href="https://www.linkedin.com/pub/jill-dimond/1/994/9aa"><span class="fa fa-linkedin-square"></span></a>
    <a href="https://github.com/jpdimond"><span class="fa fa-github-square"></span></a>
  </div>
  <p class="bio">
    Jill Dimond (she/her or they) has over 15 years of experience in tech holding diverse roles such as a designer, researcher, developer, and product manager. She holds a PhD in Human Centered Computing from Georgia Tech, and a computer science in engineering degree from the University of Michigan. She has published many scholarly works in HCI and has been awarded numerous grants from the NSF, NIH, and the Knight Foundation. Jill identifies as a white cis middle class femme from the Midwest. She is also a facilitator with training from cooperative and social movements. Jill continues to do self work in decolonization by unlearning white supremacy through somatic coaching and therapy. Because she just can’t get enough of consensus in her life, she lives at Touchstone Cohousing in Ann Arbor.
  </p>
</div>

<div class="personContainer">
  <%= image_tag "devney.jpg" %>
  <h2>Devney Hamilton</h2>
  <h3>Worker/Owner</h3>
  <div class="social"></div>
  <p class="bio">
    Before joining Sassafras, Devney developed software with an education technology company, community organizers, and Atomic Object; and taught with Girls Who Code. After studying Anthropology and Computer Science at Stanford University, they're happy to be home in the Midwest. They're incredibly grateful to be part of Sassafras's collective work. They bring a deep interest in accountability, shaped by their experiences in movement work as a person who is queer, upper class, and white with mixed heritage. They became a worker/owner in October 2018.
  </p>
</div>

<div class="personContainer">
  <%= image_tag "leafBlue.png" %>
  <h2>Sassy Member</h2>
  <h3>Worker/Owner</h3>
  <div class="social"></div>
  <p class="bio">
    This team member joined Sassafras Tech Collective in September 2015 and became a full worker/owner in June 2016. They bring to Sassafras extensive coding knowledge and experience, especially with Ruby on Rails, and a deep commitment to social justice.
  </p>
</div>

<div class="personContainer">
  <%= image_tag "kevin.jpg" %>
  <h2>Kevin Cooper</h2>
  <h3>Worker/Owner</h3>
  <div class="social">
    <a href="https://twitter.com/cooperka92"><span class="fa fa-twitter-square"></span></a>
    <a href="https://www.linkedin.com/in/cooperka92"><span class="fa fa-linkedin-square"></span></a>
    <a href="https://github.com/cooperka"><span class="fa fa-github-square"></span></a>
  </div>
  <p class="bio">
    Kevin's been writing and publishing apps since 2007. He grew up in the Midwest, graduated from the University of Michigan, worked at companies big and small, freelanced for NGOs, and finally joined Sassafras in 2019. He lives with his partner and two small cats that walk on a leash and do tricks. Kevin also performs improv comedy with a local troupe.
  </p>
</div>

<div class="personContainer">
  <%= image_tag "mariam.jpg" %>
  <h2>Mariam Asad</h2>
  <h3>Worker/Owner</h3>
  <div class="social">
    <a href="https://twitter.com/mariamnotmiriam"><span class="fa fa-twitter-square"></span></a>
  </div>
  <p class="bio">
    Mariam Asad (she/they) is from Atlanta, Toronto, New Jersey, the Philippines, and Palestine. She completed her PhD in Digital Media at Georgia Tech where her work explored alternative sociopolitical frameworks and practices for more just technology design. She has worked with organizers, city planners, elders, cyclists and has had brief stints in industry at Facebook and MailChimp. She is a designer, researcher, and facilitator, but only until capitalism finally collapses so she can co-create a bike coop/practice space/community kitchen.
  </p>
</div>
