<div class="personContainer">
  <%= image_tag "jill.png" %>
  <h2>Jill Dimond</h2>
  <h3>Worker/Owner</h3>
  <a href="https://twitter.com/jpdimond"><span class="fa fa-twitter-square"></span></a>
  <a href="https://www.linkedin.com/pub/jill-dimond/1/994/9aa"><span class="fa fa-linkedin-square"></span></a>
  <a href="https://github.com/jpdimond"><span class="fa fa-github-square"></span></a>
  <p class="bio">Jill Dimond holds a Ph.D. in Human Centered Computing from Georgia Tech and a BSE in Computer Science from the University of Michigan. She has published scholarly works at the intersection of technology and social justice. She is an animal and apple cider lover.</p>
</div>
<div class="personContainer">
  <%= image_tag "roxana.png" %>
  <h2>Roxana Galusca</h2>
  <h3>Provisional Member</h3>
  <a href="https://twitter.com/rgalusca"><span class="fa fa-twitter-square"></span></a>
  <p class="bio">Roxana Galusca holds a Ph.D. in Media and Cultural Studies and an MS in Human Computer Interaction from the University of Michigan, Ann Arbor. Her interests include Participatory Design, Community-Based Participatory Research,  and feminist research and design. She has worked with Amnesty International and the Fair Labor Association, among other organizations. In her free time, she likes to hike, travel, and read world literatures.</p>
</div>
<div class="personContainer">
  <%= image_tag "adam.png" %>
  <h2>Adam "Fuzzy" Konner</h2>
  <h3>Worker/Owner</h3>
  <a href="https://twitter.com/linesarefuzzy"><span class="fa fa-twitter-square"></span></a>
  <a href="https://www.linkedin.com/in/adamkonner"><span class="fa fa-linkedin-square"></span></a>
  <a href="https://github.com/linesarefuzzy"><span class="fa fa-github-square"></span></a>
  <p class="bio">Adam “Fuzzy” Konner is a web developer, co-op consultant, community organizer, economist, and ukulele minstrel. He works with The Working World, a worker co-op loan fund that provides loans and technical assistance to worker co-ops in Latin America and the US, and Collective Seeds, a worker-owned consulting co-op that he helped start. He has a degree in economics from the University of Michigan. Most of his web development work these days is in Ruby on Rails, but he has extensive experience with PHP, SQL, Wordpress, Drupal, Django, web and graphic design, and various other front and back end technologies. He believes lines are fuzzy.</p>
</div>
<div class="personContainer">
  <%= image_tag "elizabeth.png" %>
  <h2>Elizabeth Mitchell</h2>
  <h3>Worker/Owner</h3>
  <a href="https://twitter.com/eljmitch"><span class="fa fa-twitter-square"></span></a>
  <a href="https://www.linkedin.com/in/elizabethjmitchell"><span class="fa fa-linkedin-square"></span></a>
  <a href="https://github.com/emitche"><span class="fa fa-github-square"></span></a>
  <p class="bio">Elizabeth Mitchell enjoys front-end development and responsive design and development. She graduated from Williams College with a degree in American Studies. In additon to technology and social justice, she cares about poetry, youth, and nonprofits. She joined Sassafras in October 2014 and became a worker/owner in August 2015.</p>
</div>
<div class="personContainer">
  <%= image_tag "tom.png" %>
  <h2>Tom Smyth</h2>
  <h3>Worker/Owner</h3>
  <a href="https://twitter.com/hooverlunch"><span class="fa fa-twitter-square"></span></a>
  <a href="https://www.linkedin.com/pub/thomas-smyth/5/ab1/569"><span class="fa fa-linkedin-square"></span></a>
  <a href="https://github.com/hooverlunch"><span class="fa fa-github-square"></span></a>
  <p class="bio">Tom Smyth has been a worker-owner at Sassafras since 2013 and enjoys all aspects of technology conception and development, from background research through design, coding, deployment, and scaling. He is a member of the Ann Arbor Ruby Brigade. He holds a Ph.D. in Computer Science from Georgia Tech. Aside from computing, he is passionate about community, woodworking, cheese, and laundry.</p>
</div>
