<div class="personContainer">
  <%= image_tag "ijeoma.png" %>
  <h2>Ijeoma Arisah</h2>
  <h3>Prospective Member</h3>
  <div class="social">
    <a href="https://www.linkedin.com/in/ijeoma-arisah-56895966/"><span class="fa fa-linkedin-square"></span></a>
    <a href="https://github.com/arisah-ijeoma"><span class="fa fa-github-square"></span></a>
  </div>
  <p class="bio">
    Ijeoma Arisah is a software developer that loves backend development and logic. She holds a Computer Science degree from a Michael Okpara University of Agriculture, Umudike in Nigeria. She mentors people in Ruby on Rails and at times assists with the Rails Girls event in Lagos, Nigeria. She joined Sassafras in May 2017. When she's not coding, she likes to cook, travel, play games, and watch movies among other things.
  </p>
</div>
<div class="personContainer">
  <%= image_tag "jill.png" %>
  <h2>Jill Dimond</h2>
  <h3>Worker/Owner</h3>
  <div class="social">
    <a href="https://twitter.com/jpdimond"><span class="fa fa-twitter-square"></span></a>
    <a href="https://www.linkedin.com/pub/jill-dimond/1/994/9aa"><span class="fa fa-linkedin-square"></span></a>
    <a href="https://github.com/jpdimond"><span class="fa fa-github-square"></span></a>
  </div>
  <p class="bio">
    Jill Dimond holds a Ph.D. in Human Centered Computing from Georgia Tech and a BSE in Computer Science from the University of Michigan. She has published scholarly works at the intersection of technology and social justice. She is an animal and apple cider lover.
  </p>
</div>
<div class="personContainer">
  <%= image_tag "devney.png" %>
  <h2>Devney Hamilton</h2>
  <h3>Prospective Member</h3>
  <div class="social"></div>
  <p class="bio">
    Before joining Sassafras in February 2017, Devney Hamilton developed software with an education technology company, community organizers, and Atomic Object. She has also taught with Girls Who Code. She's happy to be back home in the Midwest after studying Anthropology and Computer Science at Stanford University. She's a member of the Funding Queerly Giving Circle and an enthusiastic supporter of We The People Growers Association.
  </p>
</div>
<div class="personContainer">
  <%= image_tag "leafBlue.png" %>
  <h2>Sassy Member</h2>
  <h3>Worker/Owner</h3>
  <div class="social"></div>
  <p class="bio">
    This team member joined Sassafras Tech Collective in September 2015 and became a full worker/owner in June 2016. They bring to Sassafras extensive coding knowledge and experience, especially with Ruby on Rails, and a deep commitment to social justice.
  </p>
</div>
<div class="personContainer">
  <%= image_tag "elizabeth.png" %>
  <h2>Elizabeth Mitchell</h2>
  <h3>Worker/Owner</h3>
  <div class="social">
    <a href="https://twitter.com/eljmitch"><span class="fa fa-twitter-square"></span></a>
    <a href="https://www.linkedin.com/in/elizabethjmitchell"><span class="fa fa-linkedin-square"></span></a>
    <a href="https://github.com/emitche"><span class="fa fa-github-square"></span></a>
  </div>
  <p class="bio">
    Elizabeth Mitchell enjoys frontend web development and responsive design and development. She graduated from Williams College with a degree in American Studies. In addition to technology and social justice, she cares about poetry, youth, and nonprofits. She joined Sassafras in October 2014 and became a worker/owner in August 2015.
  </p>
</div>
<div class="personContainer">
  <%= image_tag "tom.png" %>
  <h2>Tom Smyth</h2>
  <h3>Worker/Owner</h3>
  <div class="social">
    <a href="https://twitter.com/hooverlunch"><span class="fa fa-twitter-square"></span></a>
    <a href="https://www.linkedin.com/pub/thomas-smyth/5/ab1/569"><span class="fa fa-linkedin-square"></span></a>
    <a href="https://github.com/hooverlunch"><span class="fa fa-github-square"></span></a>
  </div>
  <p class="bio">
    Tom Smyth has been a worker/owner at Sassafras since 2013 and enjoys all aspects of technology conception and development, from background research through design, coding, deployment, and scaling. He is a member of the Ann Arbor Ruby Brigade. He holds a Ph.D. in Computer Science from Georgia Tech. Aside from computing, he is passionate about community, woodworking, cheese, and laundry.
  </p>
</div>
