<div>
  <section>
    <h1 class="tagline">
      We are a growing <a href="http://techworker.coop">worker-owned technology cooperative</a> specializing in web/app design and development for social justice organizations, non-profits, academics, artists, and others.
    </h1>
  </section>

  <section>
    <div class="blurbs">
      <div class="blurb">
        <%= image_tag "leafGreen.png" %>
        <div>
          <h2>We deeply understand technology.</h2>
          <p>Bringing years of expertise from industry, academia, and social justice organizing, we understand the values that are embedded in code and design.</p>
        </div>
      </div>
      <div class="blurb">
        <%= image_tag "leafOrange.png" %>
        <div>
          <h2>We build for social change.</h2>
          <p>Inspired by the desire to promote social justice, we make beautiful, ethical, and easy to use technologies.</p>
        </div>
      </div>
      <div class="blurb">
        <%= image_tag "leafBlue.png" %>
        <div>
          <h2>We are passionate about our values.</h2>
          <p>We use our skills and expertise to promote values about which we care deeply. Our projects are at the forefront of social justice interventions.</p>
        </div>
      </div>
    </div>

    <!-- <div class="blurb">
      <p Our mission is to elicit these values to make beautiful, appropriate, and easy to use technologies. In particular, we are interested in work that promotes:</p>
      <ul>
        <li> sharing and solidarity economies</li>
        <li> participatory democracies </li>
        <li> healthful living </li>
        <li> environmental justice and sustainability </li>
        <li> ending oppression at the intersections of gender, race, class, sexuality, and ability </li>
        <li> community and individual empowerment </li>
      </ul>
    </div> -->
  </section>

  <section>
    <h1>We are a worker cooperative</h1>
    <p>
      Worker cooperatives, as defined by
      <%= link_to "The Tech Co-op Network", "http://techworker.coop/", target: "_blank" %>,
      are "businesses owned and democratically controlled by" their workers.
      As a democratically controlled business, we network with other like-minded
      groups. We are members of:
    </p>

    <div class="membership">
      <div class="blurb">
        <%= image_tag "usfwc.png" %>
        <div>
          <h4><%= link_to "The United States Federation of Worker Coops", "http://usworker.coop/", target: "_blank" %></h4>
          <p>A network of democratically-owned businesses in the United States</p>
        </div>
      </div>
      <div class="blurb">
        <%= image_tag "tech-coop-network.png" %>
        <div>
          <h4><%= link_to "The Tech Co-op Network", "http://techworker.coop/", target: "_blank" %></h4>
          <p>A network of North American worker cooperatives focused on technology</p>
        </div>
      </div>
    </div>

    <!-- <p>As our logo reflects, we are based in Michigan helping to bring life back into our home.</p> -->
  </section>

  <section class="resources">
    <h1>Resources</h1>
    <ul>
      <li>
        <%= link_to "Bylaws of Sassafras Tech Collective", bylaws_path, target: "_blank" %>
      </li>
      <li>
        <%= link_to "Code of Conduct", code_of_conduct_path, target: "_blank" %>
      </li>
      <li>
      <%= link_to '"Anti-Oppressive Design"',
        "https://drive.google.com/file/d/0B1c_DBNPUgIuYldlZ1ZQSnljY28",
        target: "_blank" %>
      by Tom Smyth and Jill Dimond
      </li>
    </ul>
  </section>

  <section class="credits">
    <h1>Credits</h1>
    <ul>
      <li>Blue and gray background art with "Grow Together" text created by
        <%= link_to "Pete Railand",
          "http://justseeds.org/artist/peterailand/", target: "_blank" %>
        of Justseeds Collective. Used with permission.
      </li>
      <li>Twin pines "worker owned-cooperative" logo adapted from
        <%= link_to "Cooperation Texas",
          "http://cooperationtexas.coop/", target: "_blank" %>.
      </li>
    </ul>
  </section>
</div>
