<div class="aboutMain">
  <h1>
    We are a growing <a href="http://techworker.coop">worker-owned technology cooperative</a> specializing
    in web/app design and development for social justice orgs, non-profits, academics, artists, and others.
  </h1>

  <h2>We deeply understand technology.</h2>

  <div class="blurb">
    <p>Bringing years of expertise from industry, academia, and social justice organizing, we understand
    the values that are embedded in code and design. Our mission is to elicit these values to make beautiful, appropriate, and easy to use technologies. In particular, we are interested in work that promotes:</p>
    <ul>
      <li> sharing and solidarity economies</li>
      <li> participatory democracies </li>
      <li> healthful living </li>
      <li> environmental justice and sustainability </li>
      <li> ending oppression at the intersections of gender, race, class, sexuality, and ability </li>
      <li> community and individual empowerment </li>
    </ul>
    <p>We are a member of the <a href="http://techworker.coop/">Tech Co-op Network</a>, a network of worker cooperatives which are "businesses owned and democratically controlled by our workers." As our logo reflects, we are based in Michigan helping to bring life back into our home.</p>
    
    <h4>Links and Resources</h4>
    <ul>
      <li><a href="https://docs.google.com/file/d/0B1c_DBNPUgIuQXJYN3NIeUZvU1E">Bylaws of Sassafras Tech Collective</a></li>
      <li><a href="https://drive.google.com/file/d/0B1c_DBNPUgIuYldlZ1ZQSnljY28">Anti-Oppressive Design</a></li>
  </div>
</div

<%= divider %>

<div class="aboutContainer">
  <h2>Team</h2>
  <div class="personContainer">
    <%= image_tag "jill.png" %>
    <h3>Jill Dimond</h3>
    <h6>Worker/Owner</h6>
    <a href="https://twitter.com/jpdimond"><span class="fa fa-twitter-square"></span></a>
    <a href="https://www.linkedin.com/pub/jill-dimond/1/994/9aa"><span class="fa fa-linkedin-square"></span></a>
    <p class="bio">Jill Dimond holds a Ph.D. in Human Centered Computing from Georgia Tech and a BSE in Computer Science from the University of Michigan. She has published scholarly works at the intersection of technology and social justice. She is an animal and apple cider lover.</p>
  </div>
  <div class="personContainer">
    <%= image_tag "patricia.png" %>
    <h3>Patricia Fly</h3>
    <h6>Trial Member</h6>
    <a href="https://twitter.com/baeddelstations"><span class="fa fa-twitter-square"></span></a>
    <p class="bio">Patricia grew up in poverty, first in Detroit's East Side, then in Mississippi. She attended Jackson State University on a full ride scholarship, receiving a B.S. in Computer Science. She then entered a PhD program in Bioinformatics at the University of Michigan, but she left with a Master's after realizing she was more interested in building software than writing journal articles and dissertations. Her biggest passion is helping to build social networks that enable multiply marginalized people (like herself) to create sustaining movements which will hopefully lead to alternative economies.</p>
  </div>
  <div class="personContainer">
    <%= image_tag "adam.png" %>
    <h3>Adam "Fuzzy" Konner</h3>
    <h6>Worker/Owner</h6>
    <a href="https://twitter.com/linesarefuzzy"><span class="fa fa-twitter-square"></span></a>
    <a href="https://www.linkedin.com/in/adamkonner"><span class="fa fa-linkedin-square"></span></a>
    <p class="bio">Adam “Fuzzy” Konner is a web developer, co-op consultant, community organizer, economist, and ukulele minstrel. He works with The Working World, a worker co-op loan fund that provides loans and technical assistance to worker co-ops in Latin America and the US, and Collective Seeds, a worker-owned consulting co-op that he helped start. He has a degree in economics from the University of Michigan. Most of his web development work these days is in Ruby on Rails, but he has extensive experience with PHP, SQL, Wordpress, Drupal, Django, web and graphic design, and various other front and back end technologies. He believes lines are fuzzy.</p>
  </div>
  <div class="personContainer">
    <%= image_tag "elizabeth.png" %>
    <h3>Elizabeth Mitchell</h3>
    <h6>Trial Member</h6>
    <a href="https://twitter.com/eljmitch"><span class="fa fa-twitter-square"></span></a>
    <p class="bio">Elizabeth Mitchell is a front end developer and especially enjoys responsive design and development. She graduated from Williams College with a degree in American Studies. In additon to techology and social justice, she cares about poetry, youth, and nonprofits.</p>
  </div>
  <div class="personContainer">
    <%= image_tag "tom.png" %>
    <h3>Tom Smyth</h3>
    <h6>Worker/Owner</h6>
    <a href="https://twitter.com/hooverlunch"><span class="fa fa-twitter-square"></span></a>
    <p class="bio">Tom has been a worker-owner at Sassafras since 2013 and enjoys all aspects of technology conception and development, from background research through design, coding, deployment, and scaling. He is a resident of Touchstone Cohousing and a member of the Ann Arbor Ruby Brigade. He holds a Ph.D. in Computer Science from Georgia Tech. Aside from computing, he is passionate about community, woodworking, cheese, and laundry.</p>
  </div>
</div>
