<div class="leftCol">
  <h1>Get In Touch.</h1>
  <p>For inquiries, please <!-- use the form or--> email us at:</p>
  <p><a class="email_link" href="mailto:info@sassafras.coop">info@sassafras.coop</a></p>
  <!-- <p>Our contact form is currently under maintenance.</p> -->
</div>

<div class="rightCol">
  <div class="notice">
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %> </p>
    <% end %>

    <% if flash[:notice] %>
      <p class="success"><%= flash[:notice] %></p>
    <% end %>
  </div>


  <%= form_for @message, url: contact_path, html: {autocomplete: "off"}, authenticity_token: false do |form| %>
    <fieldset class="fields">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <div class="field">
        <%= form.text_area :body %>
      </div>

      <div class="field">
        <%= form.label :text, "Body" %>
        <%= form.text_area :text %>
      </div>
    </fieldset>

    <fieldset class="actions">
      <%= form.submit "Send" %>
    </fieldset>
  <% end %>
</div>
