<div class="leftCol">
  <h1>Get In Touch.</h1>
  <p>For inquiries, please email us at:</p>
  <p><a class="email_link" href="mailto:info@sassafrastech.com">info@sassafrastech.com</a></p>
</div>

<div class="rightCol">
    <div class="notice">
        <% if flash[:error] %>
          <p class="error"><%= flash[:error] %> </p>
        <% end %>
   
        <% if flash[:notice] %>
                <p class="success"><%= flash[:notice] %></p>
        <% end %>
    </div>
    
  <%= form_for @message, :url => contact_path do |form| %>
    <fieldset class="fields">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      
      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body %>
      </div>
    </fieldset>

    <fieldset class="actions">
      <%= form.submit "Send" %>
    </fieldset>
  <% end %>
</div>