<!DOCTYPE html>
<html>
<head>
  <title>SassSite</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">

  <header id="banner" class="body">
    <div class="bannerLogo">
      <a href="/home/">
        <%= image_tag home? ? "logo.png" : "logo2.png", :class => "banner" %>
      </a>
      <div class="breadcrumb"><%= get_active_menu_item %></div>
    </div>

    <nav>
      <ul>
        <% get_menu.each do |m| %>
          <li> <%= link_to m[:name], "/#{m[:link]}" %> </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <section class="main">
    <%= yield %>
  </section>

  <footer>f</footer>

</body>
</html>
